<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  
  .button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #04AA6D;
}

.button1:hover {
  background-color: #04AA6D;
  color: white;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

.button3 {
  background-color: white; 
  color: black; 
  border: 2px solid #f7ce00;
}

.button3:hover {
  background-color: #f7ce00;
  color: black;
}
</style>

<h1>¡Hola mundo!</h1>

<img src="https://media.tenor.com/FMzdzuT7ZlQAAAAj/street-fighter-twelve.gif" height="50" />
<img src="https://media.tenor.com/prn7gJhr5xgAAAAj/kirby-headphones.gif" alt="Computer man" style="width:48px;height:48px;">

<br>

<a routerLink="/tabla" routerLinkActive="active" ariaCurrentWhenActive="page"><button class="button button1">Tabla</button></a>


  <div class="example-label">Raised</div>
  <div class="example-button-row">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
  </div>


<br> <br>
<a routerLink="/formulario" routerLinkActive="active" ariaCurrentWhenActive="page"><button class="button button1">Formulario</button></a>
<br> <br>
<a routerLink="/formulario-reactivo" routerLinkActive="active" ariaCurrentWhenActive="page"><button class="button button3">Formulario reactivo</button></a>
<br> <br>

<a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"><button class="button button2">Inicio</button></a>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
